.s1-3{
background-color: grey;
font-size: 24px;
border: 3px solid black;
width: 31%;
height: 40px;
border-radius: 10 px;
text-align: center;
border-radius: 12px;
margin: 2px;
padding-top: 2px;
float: right;
}
 



.s{  background-color: grey;
    font-size: 24px;
    border: 3px solid black;
    width: 31%;
    height: 40px;
    border-radius: 10 px;
    text-align: center;
    border-radius: 12px;
    margin: 2px;
    padding-top: 2px;
    float: left;
    }     

    

    .ss{ background-color:aliceblue;
        font-size: 24px;
        border: 3px solid black;
        width: 12%;
        height: 40px;
        border-radius: 10 px;
        text-align: center;
        border-radius: 12px;
        margin: 2px;
        padding-top: 2px;
        float: right;

    }
.s2{
    background-color: rgb(196, 61, 8);
    font-size: 24px;
    border: 2px solid rgb(5, 5, 4);
    width: 100%;
    height: 80px;
    border-radius: 10 px;
    text-align: center;
    border-radius: 12px;
    margin: 2px;
    padding-bottom: 80px;
    float: right;

    }




    .s4{
        background-color: rgb(245, 195, 137);
        font-size: 24px;
        border: 2px solid rgb(5, 5, 4);
        width: 13.7%;
        height: 60px;
        border-radius: 50px;
        text-align: center;
        border-radius: 12px;
        margin: 2px;
        padding-top: 40px;
        float: right;






    }